<% style = message.user_id == message.chat_room.user_id ? "style-chat" : "other-guy-chat" %>

<div class="chat-card">
  <div class="card-block">
    <div class="row">
      <div class="col chat-bubble" id="style-chat">
        <div class="row">
          <div class="col 12">
            <span class="text-muted name"><%= message.user.name %> at <%= message.timestamp %></span><br>
          </div>
        </div>
        <div class="row">
          <div class="col 12">
          <%= message.body %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
