<% if current_user %>
  <% if current_user.favorite?(picture) %>
  <a class="blue btn-floating halfway-fab btn-large z-depth-0 ">
    <%= button_to unfavorite_path(id: picture.id), remote: true, method: :delete do %>
      <i class="material-icons red-text">favorite</i>
    </a>
  <%end%>
<% else %>
<a class="blue btn-floating halfway-fab btn-large z-depth-0 ">
  <%= button_to favorite_path(id: picture.id), remote: true do %>
    <i class="material-icons red-text">favorite_border</i>
  </a>
<%end%>
<% end %>
<% else %>
<%= link_to "FAV", new_user_session_path %>
<% end %>
