
<div class="row">
<div class="col s12 center-align">
<h3>Edit Property</h3>
</div>
</div>

<%= render 'form', property: @property %>

<%= link_to 'Show', @property %> |
<%= link_to 'Back', properties_path %>
