<p>
  <input type="checkbox" id="location"/>
  <%= form.check_box :location, id: :user_location %>
  <%= form.label "Would you like to search homes in your current location?", for: :user_location  %>
</p>
