<div class="row">
  <div class="grid-example col s12">
    <div class="row" id="feed-row">
      <div class="col s12" id="feed-div">
        <%= render @pictures %>
      </div>
      <div id="infinite-scrolling">
        <%= will_paginate @pictures%>
      </div>
    </div>
  </div>
</div>
<!-- Modal Trigger -->
  <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <%= render template: 'users/sessions/new.html.erb' %>
    </div>
  </div>
