<div class="row">
  <div class="grid-example col s12">
    <div class="row">
      <div class="col s12">
        <!-- start erb insert -->
        <div class="card hoverable">
          <div class="card-image">
            <%= image_tag 'missing.png', class: 'feed-responsive-img' %>
            <span class="card-title text-darken-4">Card Title</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red">
              <i class="material-icons">favorite_border</i>
            </a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
        <!-- end erb insert -->
        <div class="card hoverable">
          <div class="card-image">
            <%= image_tag 'missing.png', class: 'feed-responsive-img' %>
            <span class="card-title">Card Title</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red">
              <i class="material-icons">favorite_border</i>
            </a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
        <div class="card hoverable">
          <div class="card-image">
            <%= image_tag 'missing.png', class: 'feed-responsive-img' %>
            <span class="card-title">Card Title</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red">
              <i class="material-icons">favorite_border</i>
            </a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
