<%#= session.to_hash %>



<% unless user_signed_in? %>
<div class="login">
<a id="loginbtn" class="waves-effect waves-light btn" href="/users/sign_in">Log in</a><br>
</div>

<% end %>
<div class="loc">
  <a id="location" class="waves-effect waves-light btn" href="/feed">Use Current Location</a>
</div>
