<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

<!-- Modal Structure -->
<h4>Schedule Visit</h4>
<p class="appointment"></p>
<a id="yes" class="waves-effect waves-light btn", pic_owner_id="<%=picture.user_id %>", pic_id="<%=picture.id%>">Yes</a>
<a id="no" class="waves-effect waves-light btn datepicker">No</a>
