<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

<!-- Modal Structure -->
<h4>Schedule Visit</h4>
<p class="appointment">An email will be sent to the seller to schedule an appointment for </p>
<a class="waves-effect waves-light btn">Yes</a>
<a class="waves-effect waves-light btn">No</a>
