<!-- Yes, i know.. This js doesn't belong here. It is here for testing purposes. It is waiting a furever home. -->
<div class="share-button"
  data-href="https://hidden-brook-71610.herokuapp.com/pictures/<%= picture.id %>">
  Share this on FB
</div>
<!-- <div class="fb-share-button" data-href="https://hidden-brook-71610.herokuapp.com/pictures/<%=picture.id%>" data-layout="button_count" data-size="large" data-mobile-iframe="false"></div> -->
