<div id="" class="stat-content card-content">
  <div class="row center">
    <!-- Likes -->
    <div id="" class="likes-stat stats col s3">
      40 Likes
    </div>

    <!-- Following -->
    <div id="" class="follower-stat stats col s3">
      4 Following
    </div>

    <!-- Comments -->
    <div id="" class="comment-stat stats col s3">
      <%= picture.comments.count %> Comments
    </div>

    <!-- Shares -->
    <div id="" class="share-stat stats col s3">
      2 Shares
    </div> <!-- end row -->
  </div>
</div>
