<div class="card-content">
  <%= render partial: "pictures/share" %>
  <%= link_to pluralize(picture.comments.count, 'Comment'), "/pictures/#{picture.id}" %>
  <%= pluralize(picture.favorites.count, 'Love') %>
</div>
