<div id="" class="stat-content card-content">
  <div class="row center">
    <!-- share/share count -->
    <div class="share-stat picture-stats stats col s4">
      <%= render partial: "pictures/share" %>
    </div>

    <!-- Comments -->
    <div class="comment-stat picture-stats stats col s4">
      <%= link_to pluralize(picture.comments.count, 'Comment'), "/pictures/#{picture.id}" %>
    </div>

    <!-- favorites -->
    <div class="likes-stat picture-stats stats col s4 loves">
      <%= render partial: "/favorites/count_loves", locals: { picture: picture } %>
    </div><!-- end row -->
  </div>
</div>
