
<div class="chip regular-blue white-text z-depth-3">
    Swimming Pool
</div>
<div class="chip regular-blue white-text z-depth-3">
    Padio
</div>
<div class="chip regular-blue white-text z-depth-3">
    Palm Tree
</div>
