/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize";
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";
 @import "pages.scss";
 @import "pictures.scss";
 @import "fonts.scss";

 /* color codes */

 /* 182668 -dark blue
    2D4191 -medium blue
    2D4191 -light blue */


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top:9vh;
  padding-bottom:9vh;
}

main {
  flex: 1 0 auto;
}

nav {
    color: #fff;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

footer.page-footer {
  margin-bottom: 0px;
  box-shadow: none;
}

#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

//*************NAVBAR**************//

.navbar-div {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 2;
  background-color: #284293;
}


.sidenav-overlay {
  opacity: 0 !important;
  z-index: 0;
}


.flow-text {
  font-size: 1rem;
}

.navbar-div li img {
  margin: 14vh auto 0vh 20vw
}

#icon{
  padding-top: 0.5em;
  padding-left: 0.5em;
  position: relative;
}
#icon a {
  position: absolute;
  left: 25px
}
