div.row{
  h3{
    margin-top: 0;
  }
}

#messages {
  height: 50vh;
  width: 88vw;
  margin-right: 0;
}

.chat-image{
  border-radius: 50%;
  object-fit: cover;
  width: 75px;
  height: 75px;
  // height: auto;
}

#style-chat{
  -webkit-box-shadow: -4px 4px 21px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 4px 21px -3px rgba(0,0,0,0.75);
  box-shadow: -4px 4px 21px -3px rgba(0,0,0,0.75);
  border-radius: 5px;
  background-color: #84e5ff;
  margin-left: 2vw;
}

#other-guy-chat{
  -webkit-box-shadow: -4px 4px 21px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 4px 21px -3px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 21px -3px rgba(0,0,0,0.75);
  border-radius: 5px;
  background-color: #b8b7b7;
  // text-align: right;
  float: right;
  margin-right: 2vw;
}
