// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heart{
    overflow: initial !important;

}

.heart.card.card-image img {
  position: absolute !important;

}

.heart.btn-floating.halfway-fab {
  bottom: 1% !important;
}
