@font-face {
  font-family: 'Somatic-Rounded';
  src: font-url("Somatic-Rounded.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Objective-Regular';
  src: font-url("Objective-Regular.otf");
  src: font-url("Objective-Regular.woff2");
  // src:url("https://s3.us-east-2.amazonaws.com/homz-direct-dev/fonts/Objective-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Objective-Thin';
  src: font-url("/Objective-Thin.otf");
  src: font-url("Objective-Thin.woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Objective-Regular";
  color: black;
}

.Somatic-Rounded{
  font-family: "Somatic-Rounded";
}

.Obj-Regular{
  font-family: "Obj-Regular";
}

.Obj-Thin{
  font-family: "Objective-Thin";
}

#zip{
  font-family: "Objective-Thin";
}
