@font-face {
  font-family: "Somatic";
  src: font_url("Objective-Medium.otf") unquote("format('opentype')");
}

html {
  font-family: "Somatic";
  color: black;
}

// this is the login box
label {
  font-size: 0.9rem;
  color: #9e9e9e;
}

// icon on nav bar
nav i.material-icons {
    font-size: 2rem;
}

.card .card-image .card-title {
    color: black;
    padding: 0px;
}

.sidenav li > a {
  font-size: 1.5rem;
}
