#foot {
  padding: .5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: #284293;
  margin-bottom: -.1rem;
  font-size: 1.5vw
}

#foot .btn-floating i {
  font-size: 5vw;

}

#foot .btn-large i {
  font-size: 3vw;
}

#desktop-icons .btn-floating i {
    font-size: 3vw;
}

/* color codes */

/* 182668 -dark blue
   2D4191 -medium blue
   2D4191 -light blue */
.margin-footer{
  margin-left: 2%;
  margin-right: 2%;
}

.row-footer {
  margin: 0rem !important;
}
