div.row.container.flex.new-property {
  margin-bottom: 0px;
}

input#property_bed {
  height: auto;
}

input#property_bath {
  height: auto;
}

input#property_zip {
  height: auto;
}

input#property_neighborhood {
  height: auto;
}

input#property_price {
  height: auto;
}

input#property_sqft {
  height: auto;
}

input.checkbox.property-upload {
  position: fixed;
}

.modal.open {
  width: 100%;
}
