//***********FEEEEEEEEEED ************//

.feed-responsive-img {
  width: 100%;
  height: auto;
}

#feed-div{
  padding: 7vh 0 0 0;
}

//**************************************//

.login {
  padding-bottom: 0.5em;
}

.homebuttons {
  text-align: center;
  padding-top: 24em;
}



#location {
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  background-color: white;
  color: #2a417d;
}

#loginbtn {
  color: #2a417d;
  background-color: white;
  width: 15em;
}

#homepage {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
  height: 100vh;
  width: 100%;
}
