//***********FEEEEEEEEEED ************//

.feed-responsive-img {
  width: 100%;
  height: auto;
}

#feed-div{
  padding: 7vh 0 0 0;
}

//**************************************//

.login {
  padding-bottom: 0.5em;
}

#location {
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

#loginbtn {
  background-color: #2296f4;
  width: 15em;
}

#location {
  background-color: #2296f4;
}
