//***********FEEEEEEEEEED ************//

.feed-responsive-img {
  width: 100%;
  height: auto;
}

#feed-div{
  padding: 7vh 0 0 0;
}

//**************************************//

#location {
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
