// Place all the styles related to the Pictures controller here.
.picture-block{
  padding-top: 0;
}

.card .card-content{
  padding: .5vh 1vw !important;
}

.card-header-content {
  font-family: "Objective-Regular" !important;
  font-size: 1.5vw;
  margin-bottom: 0;
}

.card-bottom {
  min-height: 80px;
}
