.fb_button {
  background-color: #3D5CAE;
  text-align: center;
  width: 75%;
  font-size: 12px;
  margin: 0 auto;
}

.f_link {
  color: white;
}

#f_icon {
  padding-top: 0.1em;
}

#sign_up_page {
  text-align: center;
}

input#user_email {
  text-align: center;
}

input#user_password {
  text-align: center;
}

input#user_password_confirmation {
  text-align: center;
}

input#user_location {
  text-align: center;
}
