.stats {
  width: auto;
  font-size: 12px;
  font-family: "Objective-Thin";
  white-space: nowrap;
  padding: 1vh !important;
}

.card .stat-content {
  padding: 1vh 1vw;
}

.property-stat{

}

.follower-stat {

}

.likes-stat {

}

.comment-stat {

}
