.stats {
  width: auto;
  font-size: 15px;
  font-family: "Objective-Thin";
  white-space: nowrap;
  padding-left: 1%;
  padding-right: 1%;
  /* padding: 1vh !important; */
}

.card .stat-content {
  padding: 1vh 1vw;
}

div.card-content {
  font-size: 15px !important;
  padding: 1px 5px !important;
}
