.chip.regular-blue {
  background-color: #2468e8 !important;
  border-radius: 5px;
  margin: 2%;
}

div.chip {
  background-color: #00000057;
  border-radius: 5px;

}

div.chips {
  margin-top: -2.5em;
  z-index: 0;
  position: absolute;
  display: inline-flex;
}

img.feed-responsive-img {
  z-index: 0;
}
