<div class="navbar-div">

<nav class="nav-wrapper blue">
  <div class="center">
    <%= link_to image_tag('homz_small_logo.png'), feed_path, class:'brand-logo' %>
  </div>
  <div class="right">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="right material-icons">account_circle</i></a>

    <!-- Nav Bar menu, HIDES on small view -->
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Account</a></li>
      <li><a href="#">Properties</a></li>
      <li><a href="#">Upload</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
  </div>
</nav>

<!-- Sidenav Contents -->
<ul class="sidenav" id="mobile-demo">
  <li><a href="#">Account</a></li>
  <li><a href="#">Properties</a></li>
  <li><a href="#">Upload</a></li>
  <li><a href="#">Messages</a></li>
</ul>
</div>
